# Python tomonidan yaratilgan vaqtinchalik fayllar
__pycache__/
*.py[cod]

# Maxfiy ma'lumotlar
venv

# IDE (PyCharm, VSCode) fayllari
.idea/
.vscode/

# Django migration fayllari (istamasangiz)
**/migrations/
!*/migrations/__init__.py

# SQLite bazasi
db.sqlite3

# Yuklangan fayllar va statik fayllar

# Log va boshqa vaqtinchalik fayllar
*.log
*.pot
*.pyc

# OS tizim fayllari
.DS_Store
Thumbs.db



